<div class="table-container">
    <div class="options">
        <a class="option green addButton" href="javascript:;">{{Add}}</a>
    </div>

    <h2>{{Rules}}</h2>

    <table>
        <thead>
            <tr>
                <th class="center" width="180px">{{Robot}}</th>
                <th class="center" width="120px">{{Rule}}</th>
                <th>{{Path}}</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="table-container">
    <div class="options">
        <a class="option blue addButton" href="javascript:;">{{Download}}</a>
    </div>

    <h2>{{Robots.txt}}</h2>

    <pre></pre>
</div>
