<div class="table-container">
    <h2>{{Headers}}</h2>

    <table>
        <thead>
            <tr>
                <th>{{Name}}</th>
                <th>{{Value}}</th>
                <th class="center" width="180px">{{Status}}</th>
            </tr>
        </thead>
        <tbody>
            [[ITEMS]]
        </tbody>
    </table>
</div>

<div class="form-container">
    <h2>{{Test Another Page}}</h2>

    <form action="" method="POST">
        <div class="tool-form">
            <div class="label">
                <label class="gray">[[SITE]]</label>
            </div>
            <div class="input">
                <input type="text" class="text-input" name="path" value="[[PATH]]" />
            </div>
            <div class="button">
                <button type="submit" class="loadable">{{Test}}</button>
            </div>
        </div>
    </form>
</div>

<div class="info">
    <p>
        [[REDIRECT]]
    </p>
</div>

<div class="table-container">
    <h2>{{Raw Headers}}</h2>

    <div class="pre-scroll-container">
        <pre>[[CODE]]</pre>
    </div>
</div>
