<div class="form-container">
    <h2>{{Test Another Page}}</h2>

    <form action="" method="POST">
        <div class="tool-form">
            <div class="label">
                <label class="gray">[[SITE]]</label>
            </div>
            <div class="input">
                <input type="text" class="text-input" name="path" value="[[PATH]]" />
            </div>
            <div class="button">
                <button type="submit" class="loadable">{{Test}}</button>
            </div>
        </div>
    </form>
</div>

<div class="table-container">
    <h2>{{Meta Tags}}</h2>

    <table>
        <thead>
            <tr>
                <th width="180px">{{Name}}</th>
                <th>{{Content}}</th>
                <th class="center" width="180px">{{Used by Google}}</th>
                <th class="center" width="180px">{{Used by Bing}}</th>
            </tr>
        </thead>
        <tbody>
            [[ITEMS]]
        </tbody>
    </table>
</div>
