<div class="stats">
    <table>
        <tr>
            <td style="vertical-align: middle; padding: 0 20px 0 0;">
                [[ICON]]
            </td>
            <td style="vertical-align: middle;">
                [[LABEL]]
            </td>
        </tr>
    </table>
</div>

<div class="info">
    <p>
        {{Websites that support mobile devices show higher on searches by mobile users.}}
    </p>
</div>

<div class="table-container">
    <h2>{{Mobile Support}}</h2>

    <table>
        <thead>
            <tr>
                <th class="center" width="150px">{{Type}}</th>
                <th>{{Information}}</th>
                <th class="center" width="130px">{{Mobile}}</th>
            </tr>
        </thead>
        <tbody>
            [[ITEMS]]
        </tbody>
    </table>
</div>
