<div class="table-container">
    <h2>{{Robots.txt Rules}}</h2>

    <table>
        <thead>
            <tr>
                <th class="center">{{Crawler}}</th>
                <th>{{Rules}}</th>
            </tr>
        </thead>
        <tbody>
            [[RULES]]
        </tbody>
    </table>
</div>

<div class="table-container">
    <h2>{{Sitemaps}}</h2>

    <table>
        <thead>
            <tr>
                <th class="center" width="100px">{{Priority}}</th>
                <th>{{Location}}</th>
            </tr>
        </thead>
        <tbody>
            [[SITEMAPS]]
        </tbody>
    </table>
</div>

<div class="table-container">
    <h2>{{Raw Text}}</h2>

    <pre>[[CODE]]</pre>
</div>
