<div class="form-container">
    <h2>{{ "Enter Keyword" | rt }}</h2>

    <form action="" method="POST">
        <div class="tool-form">
            <div class="input">
                <input type="text" class="text-input" name="keyword" value="{{ keyword | e('html_attr') }}" />
            </div>
            {% if countries %}
            <div class="input">
                <select name="country" style="border: 1px solid #d0d0d0; border-radius: 3px; height: 28px; margin: 0px 10px 0 0px; padding: 0 0 0 5px; font: inherit; font-size: 13px;">
                    <option value=""></option>
                    {% for code, name in countries %}
                        <option value="{{ code }}" {% if code == activeCountry %} selected {% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="button">
                <button type="submit" class="loadable">{{ "Test" | rt }}</button>
            </div>
        </div>
    </form>
</div>

{% if show_tables %}
<div class="text-container">
    <h2>{{ "Your Rank" | rt }}</h2>
    <div class="text">
        <p>
            {{ rank }}
        </p>
    </div>
</div>


<div class="table-container">
    <h2>{{ title }}</h2>

    <table>
        <thead>
            <tr>
                <th class="center shrink" width="100px">{{ "Rank" | rt }}</th>
                <th>{{ "Website" | rt }}</th>
                <th width="100px" class="center" title="{{ "Page Authority" | rt | e('html_attr') }}">{{ "PA" | rt }}</th>
                <th width="100px" class="center" title="{{ "Domain Authority" | rt | e('html_attr') }}">{{ "DA" | rt }}</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr class="{{ result.is_match ? 'highlight' : '' }}">
                    <td class="center">{{ result.rank }}</td>
                    <td class="serp">
                        <div class="serp-title ellipsis">
                            <a href="{{ result.href | e('html_attr') }}" target="_blank" rel="noopener nofollow">
                                <img class="favicon" src="https://www.google.com/s2/favicons?domain={{ result.hostname }}">
                                <strong>{{ result.title }}</strong>
                            </a>
                        </div>
                        <div class="serp-citation ellipsis">{{ result.citation }}</div>
                        <div class="serp-description">{{ result.description }}</div>
                    </td>
                    <td class="center">
                        <div class="colored-value">
                            <div class="value">{{ result.inlink_rank }}</div>
                            <div class="circle" style="background-color: {{ authority_color(result.inlink_rank) }}"></div>
                        </div>
                    </td>
                    <td class="center">
                        <div class="colored-value">
                            <div class="value">{{ result.domain_inlink_rank }}</div>
                            <div class="circle" style="background-color: {{ authority_color(result.domain_inlink_rank) }}"></div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        {{ "Nothing to show." | rt }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
