<div class="table-container">
    <h2>{{Sitemaps}}</h2>

    <table>
        <thead>
            <tr>
                <th>{{URL}}</th>
                <th class="center" width="120px">{{Status}}</th>
                <th class="center" width="100px">{{Type}}</th>
                <th class="center" width="100px">{{Entries}}</th>
                <th class="center" width="120px">{{Visibility}}</th>
            </tr>
        </thead>
        <tbody>
            [[SITEMAPS]]
        </tbody>
    </table>
</div>
