<div class="form-container">
    <h2>{{Test Another Page}}</h2>

    <form action="" method="POST">
        <div class="tool-form">
            <div class="label">
                <label class="gray">[[SITE]]</label>
            </div>
            <div class="input">
                <input type="text" class="text-input" name="path" value="[[PATH]]" />
            </div>
            <div class="button">
                <button type="submit" class="loadable">{{Test}}</button>
            </div>
        </div>
    </form>
</div>

<div class="stats">
    <div class="statistic">
        <h3>[[VALUE]]</h3>
        <span>[[NAME]]</span>
    </div>
</div>
