// main: ../index.scss

section.generic {
    padding: 40px 20px;

    h3 {
        font-size: 18px;
    }

    &.error-message, &.success-message {
        text-align: center;
        padding: 60px 20px;

        .container div {
            margin: 0 0 20px;
        }
    }

    &.error-message {
        p {
            color: #d03d3d;
            font-size: 18px;
            margin: 0;
        }
    }

    &.success-message {
        p {
            color: #71ab6f;
            font-size: 18px;
            margin: 0;
        }
    }
}
